.navigation {
   margin-left: 320px;
   padding-top: 54px;

   grid-area: nav;

   border-right: 1px solid #f4f4f4;

}

.navigation a {
   display: block;
   padding: 8px 0;

   font-size: 11pt;
   text-decoration: none;
   font-weight: 700;
   color: #727272;
}

.navigation a:hover {
   margin-bottom: 40px;
   width: 80px;

   border-bottom: solid;
   border-image-slice: 1;
   border-width: 1px;
   border-image-source: linear-gradient(to right ,#7f03de, #cc00ff);
}

.navigation a.active {
   margin-bottom: 40px;

   font-size: 12pt;
   color: #484747;
}

.navigation a.active:hover {
   margin-bottom: 39px;

}