.dialog {
   
}

.dialog img {
   width: 45px;
}

.dialog a {
   display: block;
   width: 100%;
   color: black;
}

.dialog  a.active {
   background-image: linear-gradient( to left, #cc00ff, #7e00de);
}

.dialog-data {
   padding: 10px 10px 10px 15px;

   display: grid;
   grid-template-columns: min-content 1fr max-content;
   column-gap: 20px;
}


