.dialogs {
   display: grid;
   grid-template-columns: 3fr 7fr;
}

.dialogs-items {
   display: grid;
   row-gap: 30px;
   grid-template-rows: repeat(7, min-content);

   border-right: 1px solid #f4f4f4;
}

.dialogs-container {
   display: grid;
}

.messages {
   margin-top: auto;
   padding-left: 70px;

   display: grid;
   row-gap: 70px;
   /* display: flex;
   flex-direction: column;
   justify-content: flex-start; */

}

.messages-container {
   padding-left: 15px;
   padding-right: 95px;

   /* display: grid; */
   /* display: flex;
   flex-direction: column;
   justify-content: flex-start; */
}
